/* .grid-item { width: 200px; }
.grid-item--width2 { width: 400px; } */

body{background: #111}

.grid{

    padding: 1em;
    column-count:4
}

.img{

    width:100%;
    margin-bottom: 1em;
} 

/* .grid-item { width: 200px; }
.grid-item--width2 { width: 400px; }  */