<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Employment & Payroll 2008 - 2017</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>

  <div class="container">
    
    <div class="row margin-top-50">
      <div class="col-md-2">
        <aside class="filters">
          <!-- <div class="panel panel-default"> -->
            <!-- <div class="panel-heading">Filter Search</div> -->
            <!-- <div class="panel-body"> -->
              
                <div class="form-group">
                  <!-- <ul class="list-group" id="filters"> -->
                    <li class="filter list-group-item">
                      <label for="date">FIlter by Year</label>
                      <select id="selDataset" onchange="optionChanged(this.value)"></select>
                    </li>
                  <!-- </ul> -->
                <!-- </ div> -->
                
              
            <!-- </div> -->
          <!-- </div> -->
        </aside>
      </div>
      
      <div class="col-md-10 panel-body">
        <div id="bar" ></div>
      </div>
      <br>
      <br>

    <div class="container">
    
      <div class="row margin-top-50">
    <div class="row">
      <div class="col-md-10 col-md-offset-2 scatter">
        <div id="bubble"></div>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="../static/js/app.js"></script>
  <!-- <script src="./static/js/bonus.js"></script> -->

  
</body>

</html>

